@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Bulma Tutorial!</title>
    
</head>
<body>
    <section class="section is-medium hero is-primary">
        <div class="container">
            <h1 class="title is-1">
                Bulma for Beginners
            </h1>
            <p class="subtitle is-2">
                The example Bulma application!
            </p>

        </div>
    </section>
</body>
</html>