@{
    ViewData["Title"] = "Privacy Policy";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title class="title">Privacy</title>

</head>
<body>
<h1 class="hero is-danger title is-1">Prvacy Policy</h1>
<p class="subtitle has-text-dark">This app does not collect user information.</p>

</body>
</html>
